.price-nav-tabs .nav-pills .nav-link {
  border-radius: 50px;
  padding: 10px 20px;
  margin: 0 5px;
  color: #555;
}
.price-nav-tabs .nav-pills .nav-link.active {
  background-color: #fff;
  color: #333;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.price-nav-tabs .pricing-card {
  background-color: white;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  position: relative;
  height: 100%;
}
.price-nav-tabs .popular-tag {
  background-color: #e9e1ff;
  color: #6941c6;
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 14px;
  position: absolute;
  right: 30px;
  top: 30px;
}
.price-nav-tabs .price {
  font-size: 48px;
  font-weight: bold;
}
.price-nav-tabs .currency {
  font-size: 24px;
  vertical-align: top;
  margin-right: 5px;
}
.price-nav-tabs .period {
  font-size: 18px;
  color: #555;
}
.price-nav-tabs .plan-name {
  color: #888;
  font-size: 18px;
  margin-bottom: 20px;
}
.price-nav-tabs .feature {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  color: #333;
}
.price-nav-tabs .feature-icon {
  width: 20px;
  height: 20px;
  background-color: #e9e1ff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  color: #6941c6;
}
.price-nav-tabs .info-icon {
  width: 16px;
  height: 16px;
  background-color: #f0f0f0;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  font-size: 12px;
  color: #888;
}

.float-right{float: right;}
.right-btn svg{width:20px;height:20px;margin-right:5px}
.right-btn{background: #36839b;border-radius: 50px;color: #fff;display: flex;align-items: center;font-size: 14px;border: 1px solid #36839b}
.right-btn:hover{border:1px solid #36839b;color:#36839b}

div.dataTables_wrapper div.dataTables_length select{padding: 6px;}
div.dataTables_wrapper div.dataTables_filter input{padding: 4px;}
.dataTables_paginate .paginate_button {
  display: inline-block;
  border:1px solid #36839b;
  padding:6px 15px;
  margin:0 3px;
  color: #36839b;
}
.table-responsive .disabled{opacity: 0.6;}
.dataTables_paginate .paginate_button.current{border:1px solid #36839b;background-color: #36839b;color:#fff}
.card .size-6 {
  background:#f6f3f3;
  width: 30px;
  height: 30px;
  border-radius:50px;
  padding:4px;
}
.table-button .lqd-btn svg{background-color: #f3f3f3;border-radius: 50px;width: 40px;height: 40px;display: inline-flex;padding: 10px;color: #7c7c7c;}
.table-button .lqd-btn.theme:hover svg{background-color: #d9d5d5;color:#fff}
.table-button .lqd-btn.red:hover svg{background-color: #f43f5e;color:#fff}
.btn-theme.btn-sm{padding:6px 20px}
.btn-theme{background: #36839b;border: 1px solid #36839b;color: #fff;}
.btn-theme:hover{background: transparent;border: 1px solid #36839b;color: #36839b;}
.btn-theme.btn-radius{border-radius: 50px;}

.card-body .size-28{color: #36839b;}
.navbar-vertical-fixed .navbar-vertical-footer-offset{padding-bottom: 0px !important;}

.form-control::file-selector-button{background-color: #ebe9e9;}

.card .active-bg {
  background-color: #10b981 !important; /* Green */
  color: #fff !important; /* White text */
}
.card .passive-bg {
  background-color: red !important; /* White */
  color: #fff !important; /* Black text */
}

.select-box select {
  border-radius:
50px;
}


/*  */
.template-card .section-header {
  background-color: #dbf5ff;
  border-radius: 8px;
  padding: 8px 15px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.template-card .section-number {
  background-color: #3d9bbe;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  font-weight: bold;
}




.template-card .color-picker {
  display: flex;
  align-items: center;
}

.template-card .color-circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #84e2e0;
  margin-right: 10px;
  border: 1px solid #dee2e6;
}

.template-card .add-new-btn {
  background-color: #8b5cf6;
  color: white;
  border-radius: 20px;
  padding: 5px 15px;
}

.template-card #addInputGroup{width: 38px;
  padding:2px;
  height: 38px;}

.template-card #inputGroupContainer .input-group-block {
  border:1px solid #c5efff;
  padding:15px 15px 0px;
  border-radius:5px;
}


/* Menu page css */
.card.menu-card .menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  cursor: pointer;
}
.card.menu-card .menu-title {
  font-weight: 600;
  color: #333;
  margin: 0;
}
.card.menu-card  {margin-bottom: 10px;}
.card.menu-card .card-header h5 {width: 95%;font-size: 14px;font-weight: 600;}
.card.menu-card .card-header h5 .menu-path{font-weight: 500;}
.card.menu-card .menu-actions{min-width:20px}
.card.menu-card .menu-actions .delete-btn{background:#fee2e2;
border:1px solid #fee2e2;
font-size: 12px;
width: 26px;
height: 26px;
border-radius:5px;color:red;
transition: all 0.5s linear;
overflow: hidden;
}
.card.menu-card .menu-actions .delete-btn:hover{background:#f00;color: #fff;}

.card.menu-card .menu-title[aria-expanded="true"] .bi-chevron-down::before {content: "\f286" !important;}

/* ./Menu page css */


/* auth-settings page css */
.auth-setting .loginField {
  display: none;
}
.auth-setting .card-body:has(#homeOpenNewTab:checked) .loginField {
  display: block;
}
/* ./auth-settings page css */

/* Datatable CSS */
.dt-container .dt-layout-row{display: flex;
  justify-content: space-between;
  align-items: center;}
  .dt-container .dt-layout-cell .dt-length{display: flex;
    flex-direction: row-reverse;}
    .dt-container .dt-layout-cell.dt-layout-full{width:100%}
    .dt-paging-button.disabled.first,.dt-paging-button.disabled.last{display: none;}

    .dt-paging-button {
      display: inline-block;
      border:1px solid #36839b;
      padding:6px 15px;
      margin:0 3px;
    color: #36839b;
    }
    .dt-paging-button.current{border: 1px solid #36839b;
      background-color: #36839b;
      color: #fff;}

/* ./Datatable CSS */